<% content_for :head do %>
  <style>
    <%= @res %>
  </style>
<% end %>

<div>
  <h1 class="site-title">&nbsp;&nbsp;<%= params[:site] %></h1>
</div>


<div class="section-container typography">
  <h1>h1. Heading 1</h1>
  <h2>h2. Heading 2</h2>
  <h3>h3. Heading 3</h3>
  <h4>h4. Heading 4</h4>
  <h5>h5. Heading 5</h5>
  <h6>h6. Heading 6</h6>
  <span>span. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</span>
  <p>p. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
  <p>small. <small>eget risus varius blandit sit amet non magna</small></p>
  <p>strong. <strong>blandit sit amet non magna</strong></p>
  <p>em. <em>Cum sociis natoque penatibus et magnis dis parturient montes</em></p>
  <p>abbr. <abbr>penatibus</abbr></p>
  <blockquote>blockquote. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</blockquote>
</div>


<div class="section-container colors">
  <div>
    <h3>Dominant Color</h3>
    <div class="swatch" style="background-color: rgb(127, 184, 179); "></div>
  </div>
  <div style="clear:both"></div>
  <div>
    <h3>Palette</h3>
    <div class="swatch" style="background-color: rgb(53, 33, 23); "></div>
    <div class="swatch" style="background-color: rgb(217, 190, 141); "></div>
    <div class="swatch" style="background-color: rgb(101, 204, 225); "></div>
    <div class="swatch" style="background-color: rgb(159, 172, 113); "></div>
    <div class="swatch" style="background-color: rgb(136, 120, 42); "></div>
    <div class="swatch" style="background-color: rgb(125, 114, 101); "></div>
    <div class="swatch" style="background-color: rgb(34, 127, 141); "></div>
    <div class="swatch" style="background-color: rgb(175, 185, 178); "></div>
    <div class="swatch" style="background-color: rgb(211, 85, 6); "></div>
  </div>
  <div style="clear:both"></div>
</div>