<% content_for :head do %>
  <script>
    $(document).ready(function () {
      var site = encodeURIComponent('<%= params[:site] %>');

      $.get('/typography?site=' + site, function(data) {
        $('.section-container.typography').html(data);
      }).error(function() { $('.section-container.typography').html("<p class='error'>We couldn't get the typography styles</p>"); });

      $.get('/colors?site=' + site, function(data) {
        $('.section-container.colors').html(data);
      }).error(function() { $('.section-container.colors').html("<p class='error'>We couldn't get the implicit colors</p>"); });

      $.get('/screenshot?site=' + site, function(data) {
        $('.section-container.colors-implicit').html(data);

        $('.targetImage').bind('load', function (event) {
            var image = event.target;
            var appendColors = function (colors, root) {
                var palette = { colors : colors.map(function(val, i){ return {color : val.toString(), color_hex : '' } }) };
                var html = Mustache.to_html($('#color-template').html(), palette);
                root.append(html);
            };

            // Dominant Color
            var dominantColor = getDominantColor(image);
            var dominantSwatch = $('.colorsWrap .dominant');
            appendColors([dominantColor], dominantSwatch);

            // Palette
            var medianPalette = createPalette(image, 16);
            var medianCutPalette = $('.colorsWrap .palette');
            appendColors(medianPalette, medianCutPalette);
        }).error(function() { $('.section-container.colors-implicit').html("<p class='error'>We couldn't get the explicit colors</p>"); });
      });
    });
  </script
<% end %>

<div>
  <a target="_blank" href="<%= params[:site] %>"><h1 class="site-title">&nbsp;&nbsp;<%= params[:site] %></h1></a>
</div>

<div class="section-container typography">
  <img class="loader" src="/images/loader.gif" />
</div>

<div class="section-container colors">
  <img class="loader" src="/images/loader.gif" />
</div>

<div class="section-container colors-implicit">
  <img class="loader" src="/images/loader.gif" />
</div>
