<% content_for :head do %>
  <script type="text/javascript">
    SyntaxHighlighter.highlight();

    $(document).ready(function () {
      var site = encodeURIComponent('<%= params[:site] %>');

      $.getJSON('/api/v1/colors.json?site=' + site, function(data) {

        // Load explicit colors
        var explicit = data['explicit'];
        $(explicit['colors']).each(function(i, val){
          $('.colors-explicit .colors.palette').append($('<div class="swatch" style="background-color: '+ val +'">'+ val +'</div>'));
        });
        $(explicit['background-colors']).each(function(i, val){
          $('.colors-explicit .bg-colors.palette').append($('<div class="swatch" style="background-color: '+ val +'">'+ val +'</div>'));
        });
        $(explicit['borders']).each(function(i, val){
          $('.colors-explicit .borders.palette').append($('<div class="swatch" style="background-color: '+ val +'">'+ val +'</div>'));
        });
        $('.section-container.colors-explicit .loader').hide();
        $('.section-container.colors-explicit .colorWrap').show();


        // Load Implicit colors
        var implicit = data['implicit'];
        $(implicit).each(function(i, val){
          $('.colors-implicit .palette').append($('<div class="swatch" style="background-color: '+ val +'">'+ val +'</div>'));
        });
        $('.targetImage').attr('src', data['image_url']);
        $('.section-container.colors-implicit .loader').hide();
        $('.section-container.colors-implicit .colorWrap').show();

      });
      //.error(function() { $('.loader').html("<p class='error'>We couldn't get the color palettes</p>"); });

    });
  </script>

  <style type="text/css">
    <%= @res %>
  </style>

<% end %>

<div class="site-title">
  <form action="/all" method="post" accept-charset="utf-8">
    <input type="text" name="site" style="width:400px;" placeholder="Paste an URL..." value="<%= params[:site] %>">
    <input type="submit" value="..extract another page!">
  </form>
</div>

<div class="section-container typography">
  <p class="toggle-view">View raw code</p>

  <div class="inner-example-block">
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
    <p>span. <span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</span></p>
    <p>p. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
    <p>small. <small>eget risus varius blandit sit amet non magna</small></p>
    <p>strong. <strong>blandit sit amet non magna</strong></p>
    <p>em. <em>Cum sociis natoque penatibus et magnis dis parturient montes</em></p>
    <p>abbr. <abbr>penatibus</abbr></p>
    <blockquote>blockquote. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</blockquote>
    <a href="#"> a. Nisi erat porttitor ligula, eget</a>
  </div>

  <div class="inner-code-block">
    <pre class="brush: css">
      <%= @res %>
    </pre>
  </div>
</div>


<div class="section-container colors-explicit">
  <img class="loader" src="/images/loader.gif" />

  <div class="colorWrap" style="display:none;">
    <div>
      <div class="colors palette">
        <h4>Colors</h4>
      </div>
      <div class="bg-colors palette">
        <h4>Background Colors</h4>
      </div>
      <div class="borders palette">
        <h4>Borders</h4>
      </div>
    </div>
  </div>
</div>


<div class="section-container colors-implicit">
  <img class="loader" src="/images/loader.gif" />

  <div class="colorWrap" style="display: none;">
    <div class="imageWrap" >
      <img class="targetImage" src="" />
    </div>

    <div class="colorsWrap">
      <div class="palette">
        <h3>Palette</h3>
      </div>
    </div>
  </div>

</div>
