<% content_for :head do %>
  <script>
    $(document).ready(function () {
      var site = encodeURIComponent('<%= params[:site] %>');

      $.get('/typography?site=' + site, function(data) {
        $('.section-container.typography').html(data);
        $($(data)[0]).find('style').appendTo("head");
      }).error(function() { $('.section-container.typography').html("<p class='error'>We couldn't get the typography styles</p>"); });

      <%# $.ajax({ %>
      <%#     url: '/colors?site=' + site, %>
      <%#     success: function(data) { $('.section-container.colors').html(data); }, %>
      <%#     error: function(){ $('.section-container.colors').html("<p class='error'>We couldn't get the implicit colors</p>"); }, %>
      <%#     async:false %>
      <%# }); %>

      <%# $.ajax({ %>
      <%#     url: '/screenshot?site=' + site, %>
      <%#     success: function(data) { $('.section-container.colors-implicit').html(data); }, %>
      <%#     error: function(){ $('.section-container.colors-implicit').html("<p class='error'>We couldn't get the explicit colors</p>"); }, %>
      <%#     async:false %>
      <%# }); %>

      $.get('/colors?site=' + site, function(data) {
        $('.section-container.colors').html(data);
      }).error(function() { $('.section-container.colors').html("<p class='error'>We couldn't get the implicit colors</p>"); });

      <%# $.get('/screenshot?site=' + site, function(data) { %>
      <%#   $('.section-container.colors-implicit').html(data); %>
      <%# }).error(function() { $('.section-container.colors-implicit').html("<p class='error'>We couldn't get the explicit colors</p>"); }); %>
    });
  </script>
<% end %>

<div class="site-title">
  <form action="/all" method="post" accept-charset="utf-8">
    <input type="text" name="site" style="width:400px;" placeholder="Paste an URL..." value="<%= params[:site] %>">
    <input type="submit" value="..extract another page!">
  </form>
</div>

<div class="section-container typography">
  <img class="loader" src="/images/loader.gif" />
</div>


<div class="section-container colors">
  <img class="loader" src="/images/loader.gif" />
</div>

<div class="section-container colors-implicit">
  <img class="loader" src="/images/loader.gif" />
</div>
