<div>
  <h3>Dominant Color</h3>
  <% @domaint_colors.each do |color| %>
    <div class="swatch" style="background-color: <%= color %>; "></div>
  <% end %>
</div>
<div style="clear:both"></div>
<div>
  <h3>Palette</h3>
  <% @rest_colors.each do |color| %>
    <div class="swatch" style="background-color: <%= color %>; "></div>
  <% end %>
</div>
<div style="clear:both"></div>
