<html>
  <head>
    <title>Color Stealer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Color Stealer</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span9">
        <h1>Hello World</h1>
      </div>
    </div>
    <div class="row">
      <div class="span9">
        <% @res.each do |key, value| %>
          <h1><%= key %></h1>
          <div style="width: 100px; height: 100px; background: <%= value["background-color"] %>; color: <%= value["background-color"] %>;"> Demo text </div>

        <% end %>
      </div>
    </div>
  </body>
</html>
