<h1>Wka Mole</h1>
<p>Test page for extract webpage components</p>

<form action="/all" method="post" accept-charset="utf-8">
  <input type="text" name="site" style="width:400px;" placeholder="Paste an URL...">
  <input type="submit" value="..and extract their components!">
</form>