<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" charset="utf-8">
    <script src="/javascripts/includes/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/includes/jquery.base.extend.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/includes/XRegExp.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/includes/shCore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/includes/shBrushCss.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="/stylesheets/shCore.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/shCoreMidnight.css" type="text/css" media="screen" charset="utf-8">

    <%= yield_content :head %>
    <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>

    <title>Extractor</title>
  </head>

  <body>
    <div style="width:800px; margin: 0 auto;">
      <%= yield %>

      <p style="margin-top:100px;">&copy; 2012 Adrian Castillo</p>
    </div>

  </body>
</html>
