<div class="imageWrap">
  <img class="targetImage" src="<%= @url %>" />
</div>
<div class="colorsWrap">
  <div class="palette">
    <h3>Palette</h3>
    <% @colors.each do |color| %>
      <div class="swatch" style="background-color: <%= color %>"><%= color %></div>
    <% end %>
  </div>
</div>
