.site-title {
	margin: 10px 0 5px 0;
	padding: 15px 0;
	list-style: none;
	background-color: whiteSmoke;
	color: #999;
	display: inline-block;
	text-shadow: 0 1px 0 white;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-size: 24px;
	line-height: normal;
	font-weight: bold;
	letter-spacing: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-rendering: optimizelegibility;
	width: 100%;
}

.section-container {
	position: relative;
	margin: 10px 0 5px 0;
	padding: 15px 15px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.section-container::after {
	content: "Example";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: whiteSmoke;
	border: 1px solid #DDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.typography::after {
	content: "Typography";
}

.colors::after {
	content: "Explicit Colors";
}

.swatch {
	width: 40px;
	height: 20px;
	margin-right: 2px;
	background: #DDD;
	float: left;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}